<div style="position:absolute; bottom: 320px; left:40%;">
    <div id="affichage" style="width: 200px;height: 30px;border: 1px solid #ccc;text-align: center;margin-bottom: 10px;"></div>
    <button onclick="ajouterChiffre(1)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:red;">●</button>
    <button onclick="ajouterChiffre(2)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:green;">●</button>
    <button onclick="ajouterChiffre(3)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:blue;">●</button><br>
    <button onclick="ajouterChiffre(4)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:red;">■</button>
    <button onclick="ajouterChiffre(5)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:green;">■</button>
    <button onclick="ajouterChiffre(6)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:blue;">■</button><br>
    <button onclick="ajouterChiffre(7)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:red;">●</button>
    <button onclick="ajouterChiffre(8)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:green;">●</button>
    <button onclick="ajouterChiffre(9)" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;color:blue;">●</button><br>
    <button id="reset" onclick="reset()" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;background-color:red;color:white;">Reset</button>
    <button id="valider" onclick="valider()" style="width: 60px;height: 60px;margin: 5px;font-size: 20px;background-color: green;color: white;">Valider</button>
</div>

<script>
    var code = '';
    var affichageDiv = document.getElementById('affichage');
    function ajouterChiffre(chiffre) {
        if (code.length < 4) {
            code += chiffre;
            affichageDiv.innerHTML += getSymbole(chiffre);
        }
    }
    function reset() {
        code = '';
        affichageDiv.innerHTML = '';
    }
    function valider() {
        if (code.length === 4) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/gamessd', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    console.log('La valeur a été envoyée avec succès !');
                }
            };
            xhr.send('code' + code);
        }
    }
    function getSymbole(chiffre) {
        switch (chiffre) {
            case 1:
                return '<span style="font-size: 30px;color:red;">●</span>';
            case 2:
                return '<span style="font-size: 30px;color:green;">●</span>';
            case 3:
                return '<span style="font-size: 30px;color:blue;">●</span>';
            case 4:
                return '<span style="font-size: 30px;color:red;">■</span>';
            case 5:
                return '<span style="font-size: 30px;color:green;">■</span>';
            case 6:
                return '<span style="font-size: 30px;color:blue;">■</span>';
            case 7:
                return '<span style="font-size: 30px;color:red;">●</span>';
            case 8:
                return '<span style="font-size: 30px;color:green;">●</span>';
            case 9:
                return '<span style="font-size: 30px;color:blue;">●</span>';
            default:
                return '';
        }
    }
</script>

