<!DOCTYPE html>
<html>
<head>
    <title>MIND</title>
    <link href="/MIND/src/main/webapp/style.css" rel="stylesheet">
</head>
<body>
<div style="display: flex; width: 100%;">
    <div style="flex: 1; padding: 10px;">
        <pre style="position: absolute;top: 100px;left: 15%; width: 49%;">
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''''                                                       ''''
''''    ''''    ''''   '''''    '''      '''  ''''''''     ''''
''''    ''''    ''''   '''''    '''      '''  '''   '''    ''''
''''    ''' '  ' '''    '''     ''''     '''  '''    '''   ''''
''''    ''' '  ' '''    '''     ''' '    '''  '''     '''  ''''
''''    '''  ''  '''    '''     '''  '   '''  '''     '''  ''''
''''    '''  ''  '''    '''     '''   '  '''  '''     '''  ''''
''''    '''      '''    '''     '''    ' '''  '''     '''  ''''
''''    '''      '''    '''     '''     ''''  '''    '''   ''''
''''    '''      '''   '''''    '''      '''  '''   '''    ''''
''''    '''      '''   '''''    '''      '''  ''''''''     ''''
''''                                          MASTERMIND   ''''
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
        </pre>
        <div style="display: flex; flex-direction: row; position: absolute; bottom: 520px; left: 10%; right: 0;">
            <a href="/gamessd" target="frame" style="height: 50px; width: 200px;text-decoration: none;color:black; border: 1px solid black; display: inline-block; text-align: center; line-height: 50px;">Jouer sans doublons</a>
            <a href="/gamead" target="frame" style="height: 50px; width: 200px;text-decoration: none;color:black; border: 1px solid black; display: inline-block; text-align: center; line-height: 50px;">Jouer avec doublons</a>
            <a href="/regle" target="frame" style="height: 50px; width: 200px;text-decoration: none;color:black; border: 1px solid black; display: inline-block; text-align: center; line-height: 50px;">Règle du jeu</a>
            <a href="/score" target="frame" style="height: 50px; width: 200px;text-decoration: none;color:black; border: 1px solid black; display: inline-block; text-align: center; line-height: 50px;">Meilleur scores</a>
        </div>
    </div>
    <div style="flex: 1; padding: 10px;">
        <iframe style="width:100%; height:97vh;border:none;" name="frame" src="/game"></iframe>
    </div>
</div>
</body>
</html>

