<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style='margin-top: 100px;'>
		<h1 style='text-align:center;'>MIND</h1>
		<div style='position:absolute;top:20%; left:30%;'>
			<h2>
				Règles du jeu
			</h2>
			<h3>MIND est un jeu dérivée du MASTERMIND</h3>
			<br />
			<div style='width:500px;'>
				<h3>Le but est de découvrir la combinaison de couleurs/chiffre/forme coloré cachée par l'ordinateur. Pour cela, vous devez faire plusieurs essais pour choisir au fur et à mesure les bonnes couleurs/chiffres/formes colorées et trouver leur place. L'ordinateur vous donnera des indices pour savoir si vous mettez les bonnes couleurs/chiffres/formes colorées et si elles sont à la bonne place.</h3>
				<br>
				<ul>
					<li> (-) / 
						<span style='color:white;'>⦁</span>
						 - Pas dans la combinaison
					</li>
					<li> (+) / 
						<span style='color:red;'>⦁</span>
						 - Dans la combinaison mais pas à la bonne place
					</li>
					<li> (o) / 
						<span style='color:black;'>⦁</span>
						 - Dans la combinaison et à la bonne place
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>